body {
	width: 320px;
	margin: auto;
	position: relative;
}
body .mainContainer {
	width: 320px;
	margin: auto;
	background: #D6FF70;
	position: relative;
}
body .grid div.line {
	width: 270px;
}
body .grid div.line div.col {
	float: left;
	width: 90px;
	height: 90px;
	background: url(../images/forest.png);
}
body .grid {
	overflow: hidden;
	border: 1px #404040 solid;
	width: 270px;
	margin: auto;
}
body .bars .bar .fill {
	height: 15px;
	position: absolute;	
	left: 17px;
	top: 2px;
}
body .bars #bar1 .fill {
	background: #35407C;
}
body .bars #bar2 .fill {
	background: #387C35;
}
body .bars #bar3 .fill {
	background: #7C3538;
}
body .bars .bar {
	width: 270px;
	height: 19px;
	position: relative;
}
/*body .bars #bar1 {
	background: url(../images/blue_bar.png);
}
body .bars #bar2 {
	background: url(../images/green_bar.png);
}
body .bars #bar3 {
	background: url(../images/red_bar.png);
}
*/
body .buildingsList .building {
	width: 30px;
	height: 30px;
	cursor: pointer;
}
body .buildingsList {
	width: 300px;
	margin: auto;
}
body .infoWindow {
	width: 320px;
	background: rgba(0,0,25,0.9);
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	color: white;
	text-align: right;
}
body .infoWindow .desc p {
	margin: 0;
	padding: 10px;
	font-size: 16px;
	text-align: left;
}
body .infoWindow .desc img {
	float: left;
	margin-right: 10px;
}
body .infoWindow {
	font-size: 0;
}
body .infoWindow .cancelButton, body .infoWindow .okButton{
	width: 75px;
	height: 30px;
	line-height: 30px;
	background: #0094FF;
	text-align: center;
	cursor: pointer;
	bottom: 0;
	display: inline-block;
	font-size: 16px;
	margin: 5px 5px 5px 0px;
}
body .infoWindow .okButton{
}
body .infoWindow .cancelButton {
}
body .statusbar .numbers .pop {
	margin-left: 30px;
}
body .statusbar {
	width: 270px;
	margin: auto;
}